<form class="central-form slide-in" action="" method="post">
    {% csrf_token %}
    <div class="central-form-inner">
        <div class="flex-column card">
            <input 
                id="wapsa-topic-input"
                class="form-control" 
                placeholder="Topic" 
                name="topic"
                value="{{ topic.name }}"
            />
            <textarea
                id="wapsa-post-input"
                class="form-control"
                placeholder="What are you saying about {% firstof topic.name '...' %}?"
                name="text"
            ></textarea>
            <div class="flex-row end">
                <!-- Only show recaptcha if not authed. -->
                {% if not request.user.is_authenticated %}
                    <div
                        class="g-recaptcha" 
                        data-sitekey="6Ld9m3AbAAAAACwB__7zLjTwce4Snjs2DBfTRLdt"
                        data-callback="recaptchaCallback"
                    ></div>
                {% endif %}
            </div>
            <div class="flex-row end">
                <button
                    id="captcha-blocked-button"
                    class="btn btn-primary say-button" 
                    type="submit"
                    {% if request.user.is_authenticated %}{%else%}disabled{%endif%}
                >
                    Say
                </button>
            </div>
        </div>
    </div>
</form>