<form class="central-form" action="" method="post">
    {% csrf_token %}
    <div class="central-form-inner">
        <div class="flex-column card">
            <input 
                id="wapsa-topic-input"
                class="form-control" 
                placeholder="Topic" 
                name="topic"
                value="{{ topic.name }}"
            />
            <textarea
                id="wapsa-post-input"
                class="form-control"
                placeholder="What are you saying about {% firstof topic.name '...' %}?"
                name="text"
            ></textarea>
            <div class="flex-row end">
                <div class="g-recaptcha" data-sitekey="6Ld9m3AbAAAAACwB__7zLjTwce4Snjs2DBfTRLdt"></div>
            </div>
            <div class="flex-row end">
                <button class="btn btn-primary say-button" type="submit">Say</button>
            </div>
        </div>
    </div>
</form>