{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta. -->
        <meta charset="utf-8" />
        <meta name="keywords" content="What are poeple saying... Have your say!">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <!-- Stylesheets. -->
        {% include '../common/configs/styles.html' %}
        <title>{{user.username}} | What are people saying about</title>
    </head>
    <body class="main-body">
        <div id="wapsa-overlay"></div>
        <div 
            id="page-data"
            data-username="{{ request.user.username }}"
        ></div>
        <div class="page-wrapper">
            {% include '../common/navbar.html' %}
            <div class="content">
                <header>
                    <h1 class="title">{{ user.username }}</h1>
                </header>
                <section class="posts">
                    <h2 class="text-centered muted">All posts</h2>
                    {% if posts|length > 0 %}
                        {% include '../common/post-list.html' %}
                    {% elif user.username != request.user.username %}
                        <h3 class="text-centered muted m-t-2">User has not yet made a post.</h3>
                    {% else %}
                        <h3 class="text-centered muted m-t-2">You have not yet made any posts!</h3>
                    {% endif %}
                </section>
            </div>
        </div>
        {% include '../common/footer.html' %}

        <!-- Scripts. -->
        {% include '../common/configs/scripts.html' %}
        <script src="{%  static  'scripts/home.js'  %}"></script>
        <script src="{%  static  'scripts/lists/post-list.js'  %}"></script>
    </body>
</html>
