{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta. -->
        <meta charset="utf-8" />
        <meta name="keywords" content="What are poeple saying... Have your say!">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <!-- Stylesheets. -->
        {% include '../common/configs/styles.html' %}
        <title>Home | What are people saying about</title>
    </head>
    <body class="main-body">
        <div id="wapsa-overlay"></div>
        <div 
            id="page-data"
            data-username="{{ request.user.username }}"
        ></div>
        <div class="page-wrapper">
            {% include '../common/navbar.html' %}
            <div class="content-wrapper">
                <div class="content">
                    <div class="home-page-banner">
                        <header class="no-margin">
                            <h1 class="title">What are you saying about <span id="wapsa-title-span" class="underlined">_</span>?</h1>
                            <h2 class="page-description dark">Say anything about any topic! Create a post and let the world know something new, or ask a question!</h2>
                        </header>
                        {% include '../common/create-post.html' %}
                    </div>
                    <section class="topics">
                        <h2 class="text-centered">Hot Topics!</h2>
                        {% include '../common/topic-list.html' %}
                    </section>
                </div>
            </div>
        </div>
        {% include '../common/footer.html' %}

        <!-- Scripts. -->
        {% include '../common/configs/scripts.html' %}
        <script src="{%  static  'scripts/home.js'  %}"></script>
    </body>
</html>
