{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{%  static  'styles/variables.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/flex.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/style.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/navbar.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/dialogs.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/buttons.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/comments.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/loaders.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/layout.css'  %}">
<link rel="stylesheet" href="{%  static  'styles/text.css'  %}">
