<form 
    id="wapsa-login-dialog" 
    class="card wapsa-dialog"
    method="POST"
    action="/auth/login/"
>
    {% csrf_token %}
    <div class="wapsa-dialog-header">
        <h3>Login.</h3>
        <i id="wapsa-login-dialog-close" class="fas fa-times wapsa-dialog-close-button"></i>
    </div>
    <input 
        id="wapsa-username-input"
        class="form-control username-field" 
        placeholder="Username" 
        name="username"
    />
    <input
        id="wapsa-password-input"
        class="form-control" 
        placeholder="Password" 
        name="password"
        type="password"
    />
    <button class="btn btn-link" type="button">Forgot password?</button>
    <div class="g-recaptcha" data-sitekey="6LfAX1wbAAAAANoyhr9HFhBE1hNdjU6SW3G44dL2"></div>
    <div class="flex-row-end">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
